.app_logo3 {
  position: absolute;
  height: 14vh;
  margin-left: 2vh;
  margin-top: 2vh;
  width: 13vh;
  border-radius: 50%;
  object-fit: contain;
}

.app_header3 {
  position: absolute;
  margin-left: 19vh;
  max-width: 50vh;
}

.app_header3_bg0 {
  position: absolute;
  text-align: right;
  margin-top: 14.5vh;
  margin-left: 9vh;
  width: 62vh;
  height: 11vh;
  opacity: 0.9;
}
.app_header3_top1 {
    position: absolute;
    pointer-events: none;
    margin-top: 3vh;
    width: 50vh;
    height: 3vh;
    font-size: 2.8vh;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 1px rgba(21, 54, 97, 0.9);
    overflow: hidden;
    text-align: right;
}
.app_header3_top2 {
  position: absolute;
  pointer-events: none;
  margin-top: 3vh;
  width: 50vh;
  height: 3vh;
  font-size: 2vh;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 1px rgba(21, 54, 97, 0.9);
  overflow: hidden;
  text-align: right;
}
.app_header3_sub1 {
    position: absolute;
    pointer-events: none;
    margin-top: 7vh;
    width: 49vh;
    height: 20vh;
    font-size: 3.4vh;
    font-weight: 800;
    color: rgb(7, 41, 73);
    text-shadow: 1px 1px rgba(179, 234, 255, 0.4);
    overflow: hidden;
    text-align: right;
}
.app_header3_sub2 {
  position: absolute;
  pointer-events: none;
  margin-top: 7vh;
  width: 49vh;
  height: 20vh;
  font-size: 2vh;
  font-weight: 800;
  color: rgb(7, 41, 73);
  text-shadow: 1px 1px rgba(179, 234, 255, 0.4);
  overflow: hidden;
  text-align: right;
}
.app_sub3_1 {
    position: absolute;
    pointer-events: none;
    margin-top: 18vh;
    margin-left: 15vh;
    width: 52vh;
    height: 9vh;
    font-size: 2.5vh;
    font-weight: 700;
    color: rgb(11, 75, 100);
    text-shadow: 0.5px 0.5px rgba(25, 75, 133, 0.3);
    overflow: hidden;
    text-align: right;
}

.app_sub3_2 {
  position: absolute;
  pointer-events: none;
  margin-top: 18vh;
  margin-left: 15vh;
  width: 52vh;
  height: 9vh;
  font-size: 2.2vh;
  font-weight: 700;
  color: rgb(11, 75, 100);
  text-shadow: 0.5px 0.5px rgba(25, 75, 133, 0.3);
  overflow: hidden;
  text-align: right;
}

.app_profile3 {
  position: absolute;
  pointer-events: none;
  margin-left: 19.5vh;
  margin-top: 27.5vh;
  width: 46vh;
  height: 46vh;
  border-radius: 50%;
  object-fit: cover;
  border: 2vh solid;
  border-color: rgba(255, 227, 104, 0.5);
}

.app_story32 {
  position: absolute;
  pointer-events: none;
  margin-left: 43.5vh;
  margin-top: 18vh;
  width: 23.5vh;
  height: 23.5vh;
  border-radius: 50%;
  object-fit: cover;
  border: 1.2vh solid;
  border-color: rgba(255, 227, 104, 0.7);
}

.app_middle3_bg {
  position: absolute;
  text-align: right;
  margin-top: 57vh;
  margin-left: 3vh;
  width: 68vh;
  height: 20vh;
}
.app_a31 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 61vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 3.5vh;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgba(46, 5, 22, 0.2);
}

.app_a32 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 66vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.5vh;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgba(46, 5, 22, 0.2);
}
.app_a33 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 70vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.2vh;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgba(46, 5, 22, 0.2);
}

.app_a34 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 82vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.4vh;
  font-weight: 900;
  color: rgb(6, 48, 95);
  text-shadow: 1px 1px rgba(72, 74, 77, 0.2);
  text-align: center;
}
.app_a35 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 86.5vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.4vh;
  font-weight: 900;
  color: rgb(6, 48, 95);
  text-shadow: 1px 1px rgba(72, 74, 77, 0.2);
  text-align: center;
}
.app_a36 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 90vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.4vh;
  font-weight: 900;
  color: rgb(6, 48, 95);
  text-shadow: 1px 1px rgba(72, 74, 77, 0.2);
  text-align: center;
}

.app_a37 {
  position: absolute;
  pointer-events: none;
  margin-left: 5vh;
  margin-top: 93vh;
  width: 60vh;
  max-height: 20vh;
  font-size: 2.4vh;
  font-weight: 900;
  color: rgb(6, 48, 95);
  text-shadow: 1px 1px rgba(72, 74, 77, 0.2);
  text-align: center;
}
