.App {
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url('./fonts/Kanit-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
}

.page {
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  background-image: url("cover01.jpg");*/
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 100.5vh;
  font-family: 'Kanit';
}

@media print {
  page[size="A4"] {
      background-color: #1a4567 !important;
      -webkit-print-color-adjust: exact; 
      margin: 0;
      box-shadow: 0;
  }
}
